<p style="color: green"><%= notice %></p>

<p>
  <strong>Senator:</strong>
  <%= @attendance.senator&.name || @attendance.senator_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @attendance.schedule&.name || @attendance.schedule_id %>
</p>

<div>
  <%= link_to "Edit this attendance", edit_attendance_path(@attendance) %> |
  <%= link_to "Back to attendances", attendances_path %>

  <%= button_to "Destroy this attendance", @attendance, method: :delete %>
</div>
